body, table {
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    padding: 0;
    margin: 0;
}

table, tr.item, tr.headers {
    width: 100%;
    height: 40px;
    z-index: 10;
    padding: 20px 20px 20px 20px;
    margin: 0;
}

tr.item:nth-of-type(odd) {
    background-color: lightblue;
    background-color: rgba(166, 183, 255, 0.4);
}


tr.item.expanded {
    vertical-align: top;
    height: 300px;
}

.details {
    visibility: hidden;
    position: absolute;
    z-index: 5;
    right: 0px;
    left: 50px;
}

.nohide {
    visibility: visible;
}

.slowScroll tbody {
    transition: 1.8s all linear;
    /*-moz-transform: translate3d(0, -20px, 0);
    -webkit-transform: translate3d(0, -20px, 0);*/
    transform: translate3d(0, -20px, 0);
}

.headers td {
    font-weight: bold;

    background-color: #FFF;
    border-bottom: 3px solid black;

    padding: 3px;
    margin: 0;

    text-align: center;
}

.item.expanded td {
    color: rgba(1,1,1,0.2) !important;
}

.item td.Model {
    width: 25%;
    font-size: 1.5rem;
    font-weight:bold;
    text-align: center;
}

.item .Manufacturer {
    width: 25%;
    margin-left: 20px;
    text-align: center;
}

.item .Model {
    font-size: 1.7rem;
    text-align: center;
}

.item td.Manufacturer {
    color: #564C2A;
}

.item .SerialNumber {
    width: 25%;
    text-align:center;
    padding-right: calc(15% + 30px);
}

.item .Location {
    text-align: center;
    padding-right: 100px;
    width: 10%;
}

.info-block {
    position: absolute;
    border: 1px solid black;
    top: 15px;
    left: -35px;
    width:104%;
    right: 0;
    bottom: 0;
    padding: 0px;
    margin: 0;
    background-color: white;
}

nav {
    text-align: center;
}
